@font-face {
    font-family: 'hubballiregular';
    src: url('hubballi-regular-webfont.woff2') format('woff2'),
         url('hubballi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
