.unlock-page {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background: var(--grams-background);
  align-items: center;
  text-align: center;
}

.unlock-form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 340px;
  max-width: 450px;
}