:root {
  /* Add CSS variables here */
  --background: #F6F7FB;
  --font-color: #494949;

  --grams-primary: #4070F4;
  --grams-secondary: #15CD72;
  --grams-background: #F6F7FB;
  --grams-accent-1: #333333;
  --grams-accent-2: #9FA5B1;

  --heading-font-size: 40px;

  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --font-color: #fafafa;
  }
}
