:root {
  /* Add CSS variables here */
  --background: #F6F7FB;
  --font-color: #494949;

  --grams-primary: #223651;
  --grams-secondary: #CBB26A;
  --grams-background: #F6F7FB;
  --grams-accent-1: #314E75;
  --grams-accent-2: #131E2D;

  --heading-font-size: 40px;

  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

*, :after, :before {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --font-color: #fafafa;
    --grams-accent-1: #D8C690;
    --grams-accent-2: #BE9E44;
  }
}
